/* Osnovni stilovi za sajt sa opcijom za upload slike */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pomeranje sadržaja na vrh i dno */
    align-items: center;
    text-align: center;
}

/* Stilizovanje banera */
#banner {
    width: 100%;
    height: 200px; /* Visina banera */
    overflow: hidden;
    margin-bottom: 30px;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Stilizovanje upload forme */
#upload-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-bottom: 50px; /* Povećavanje prostora između forme i dugmadi */
}

/* Dugme za upload i prikaz slike */
#imageUploadButton,
#showImageButton {
    padding: 15px 30px;
    background-color: #007BFF; /* Plava boja */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Razmak između dugmadi */
    transition: background-color 0.3s;
}

#imageUploadButton:hover,
#showImageButton:hover {
    background-color: #0056b3; /* Tamnija plava boja pri hover-u */
}

/* Div za prikaz slike */
#imagePreview {
    max-width: 100%;
    max-height: 90vh;
    display: none;
    margin-top: 20px;
}

#imagePreview img {
    width: 100%;
    height: auto;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
